

.content {
  text-align: center;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  background: linear-gradient(to left, #060016, #1F1F1F);
  transition: background 1s linear;
}
